In [4]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split

In [8]:
df=pd.read_csv('final_aus_weather.csv',index_col='Date')

In [9]:
df.head(5)

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-05,2,0.504717,0.767486,0.0,0.078468,0.760023,14,0.271318,1,7,...,0.298851,0.41,0.09,0.5136,0.26808,0.363619,0.624473,0.763916,0,0
2009-01-06,2,0.523585,0.807183,0.0,0.078468,0.760023,13,0.356589,9,14,...,0.298851,0.33,0.08,0.4736,0.26808,0.363619,0.639241,0.809981,0,0
2009-01-07,2,0.580189,0.826087,0.0,0.078468,0.760023,13,0.395349,0,13,...,0.344828,0.34,0.12,0.4096,0.26808,0.363619,0.683544,0.840691,0,0
2009-01-13,2,0.606132,0.803403,0.0,0.078468,0.760023,6,0.224806,9,7,...,0.195402,0.51,0.19,0.5408,0.26808,0.363619,0.664557,0.788868,0,0
2009-01-14,2,0.610849,0.903592,0.0,0.078468,0.760023,7,0.255814,10,11,...,0.195402,0.40,0.08,0.4768,0.26808,0.363619,0.691983,0.900192,0,0

In [11]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1:]

In [12]:
x.shape

(145459, 20)

In [13]:
y.shape

(145459, 1)

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [15]:
x_train.shape

(109094, 20)

In [16]:
x_test.shape

(36365, 20)

In [17]:
y_train.shape

(109094, 1)

In [18]:
y_test.shape

(36365, 1)

In [82]:
model=keras.Sequential([
    keras.layers.Dense(20,input_shape=(20,)),
    keras.layers.Dense(40,activation='linear'),
    keras.layers.Dense(10,activation='linear'),
    keras.layers.Dense(1,activation='sigmoid')
    
])

model.compile(optimizer='Adamax',
             loss='BinaryCrossentropy',
             metrics=['accuracy'])
model.fit(x_train,y_train,epochs=20)

Epoch 1/20
3410/3410 [==============================] - 5s 1ms/step - loss: 0.5247 - accuracy: 0.7805
Epoch 2/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3945 - accuracy: 0.8261
Epoch 3/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3874 - accuracy: 0.8302
Epoch 4/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3858 - accuracy: 0.8299
Epoch 5/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3825 - accuracy: 0.8321
Epoch 6/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3816 - accuracy: 0.8344
Epoch 7/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3818 - accuracy: 0.8316
Epoch 8/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3760 - accuracy: 0.8350
Epoch 9/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3798 - accuracy: 0.8337
Epoch 10/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3781 - accuracy: 0.8338
Epoch 11/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3819 - accuracy: 0.8319
Epoch 12/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3802 - accuracy: 0.8326
Epoch 13/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3817 - accuracy: 0.8315
Epoch 14/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3803 - accuracy: 0.8321
Epoch 15/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3776 - accuracy: 0.8341
Epoch 16/20
3410/3410 [==============================] - 5s 1ms/step - loss: 0.3755 - accuracy: 0.8357
Epoch 17/20
3410/3410 [==============================] - 5s 1ms/step - loss: 0.3776 - accuracy: 0.8341
Epoch 18/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3767 - accuracy: 0.8315
Epoch 19/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3762 - accuracy: 0.8335
Epoch 20/20
3410/3410 [==============================] - 4s 1ms/step - loss: 0.3749 - accuracy: 0.8358

In [83]:
model.evaluate(x_test,y_test)

1137/1137 [==============================] - 1s 914us/step - loss: 0.3802 - accuracy: 0.8336

[0.3801538348197937, 0.8335762619972229]

In [84]:
y_pred=model.predict(x_test)

In [85]:
y_pred1=[]
for i in y_pred:
    if i>=0.5:
        y_pred1.append(1)
    else:
        y_pred1.append(0)

In [86]:
y_test
y_pred1=pd.DataFrame(y_pred1,columns=['RainTomarrow'])
y_pred1

       RainTomarrow
0                 0
1                 0
2                 1
3                 0
4                 0
...             ...
36360             0
36361             0
36362             1
36363             1
36364             0

[36365 rows x 1 columns]

In [87]:
from sklearn.metrics import classification_report,plot_confusion_matrix,confusion_matrix

In [88]:
print(classification_report(y_pred1,y_test))

              precision    recall  f1-score   support

           0       0.96      0.85      0.90     31562
           1       0.43      0.76      0.55      4803

    accuracy                           0.83     36365
   macro avg       0.69      0.80      0.72     36365
weighted avg       0.89      0.83      0.85     36365

In [89]:
import matplotlib.pyplot as plt
import seaborn as sns

In [90]:
confusion_matrix(y_pred1,y_test)

array([[26675,  4887],
       [ 1165,  3638]])